body {
	background-color: #0345c2;
}

body:before {
	position: fixed;
	content: "";
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.95);
	width: 100%;
	height: 100%;
	z-index: 0;
}

body,
div,
li,
p,
b {
	font-family: 'Raleway', sans-serif;
}

h2 {
	color: #0345c2;
	font-weight: 100;
}

.content-area {
	background: #fff;
	padding: 10px 30px;
	margin: 10px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
}


/* SCROLLBAR COLOR START */
::-webkit-scrollbar {
	width: 10px;
	background: #eee;
}

::-webkit-scrollbar-thumb {
	background: #0345c2;
}
/* SCROLLBAR COLOR END */

.chatbot_icon {
	position: fixed;
	padding: 5px;
	width: 70px;
	bottom: 20px;
	right: 10px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	box-shadow: none;
	background-color: transparent;
	border-radius: 50%;
}
.chatbot_icon img {
    max-width: 100%;
}
.drx_chatbot_widget {
	font-size: 14px;
	position: fixed;
	width: 0px;
	height: 0px;
	right: -400px;
	bottom: 0px;
	z-index: 1;
	transition: all 0.16s ease-in-out 0s;
	overflow: hidden;
}

.drx_chatbot_widget:before {
	transition: all 0.3s ease-in-out 0s;
}

.drx_chatbot_widget.active {
	width: 430px;
	height: calc(100vh - 38px); 
	right: 40px;
}

@media(min-width:450px) {
	.drx_chatbot_widget {
		border-radius: 15px;
		width: 400px;
		right: -400px;
		bottom: 0px;
		z-index: 1;
		border: 1px solid transparent;
		top: 20px;
		left: inherit;
	}
	.drx_chatbot_widget.active {
		left: inherit;
		right: 0px;
		bottom: 20px;
		top: 20px;
		width: 430px;
	}
}

.drx_chatbot_widget:before {
	position: absolute;
	content: "";
	width: 0px;
	height: 0px;
	bottom: 0;
	right: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	z-index: 0;
}

.drx_chatbot_widget.active:before {
	width: 400px;
	height: calc(100vh - 50px);
	border-radius: 20px;
	
}

.drx_chatbot_widget .widget_window {
	right: -400px; 
	position: absolute;
	z-index: 5;
	width: 400px;
	border: 1px solid #0345c2;
	background: #0345c2;
	bottom: 0;
	top: 0;
	border-radius: 20px;
	margin-bottom: 10px;
}

.drx_chatbot_widget .widget_window:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .9);
	border-radius:  20px;
}

.drx_chatbot_widget .widget_window.active {
	right: 28px;
	box-shadow: 9px 9px 2px rgb(0 0 0 / 10%);
}


.drx_chatbot_widget .title {
	text-align: right;
	padding-right: 40px;
	position: relative;
}

 
.drx_chatbot_widget .title .chatbot_logo {
	background-image: url(../images/chatbot_logo.png);
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	left: 0;
	background-size: auto 100%;
	display: inline-block;
	z-index: 1;
	position: relative;
	margin: 0;
	vertical-align: middle;
	margin-right: 5px;
}

.drx_chatbot_widget .chatbot_back,
.drx_chatbot_widget .chatbot_close {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
	padding: 4px 10px;
	display: inline-block;
	width: 35px;
	height: 35px;
	z-index: 1;
}

.drx_chatbot_widget .chatbot_back {
	left: 15px;
	right: inherit;
	top: 10px;
	width: 32px;
	z-index: 1;
}

.drx_chatbot_widget .chatbot_back svg,
.drx_chatbot_widget .chatbot_close svg {
	position: relative;
}

.drx_chatbot_widget .chatbot_back:before,
.drx_chatbot_widget .chatbot_close:before {
	position: absolute;
	content: '';
	border-radius: 50%;
	z-index: 0;
	left: 5px;
	top: 5px;
	background: rgba(0, 0, 0, 0.2);
	width: 0px;
	height: 0px;
	margin: 12px 0px 0px 12px;
	transition: all 0.16s ease-in-out 0s;
}

.drx_chatbot_widget .chatbot_back:hover:before,
.drx_chatbot_widget .chatbot_close:hover:before {
	width: 35px;
	height: 35px;
	margin: -5px 0px 0px -5px;
}

.drx_chatbot_widget .chat_window .chatbot_close:hover:before {
	width: 35px;
	height: 35px;
	margin: -5px 0px 0px -5px;
}

.drx_chatbot_widget .chat_window .chatbot_back:hover:before {
	width: 35px;
	height: 35px;
	margin: -5px 0px 0px -5px;
}

.drx_chatbot_widget .header {
	padding: 30px 30px 20px;
	background: rgb(0, 27, 83);
	color: #fff;
	background: #0345c2;
	position: relative;
}

.drx_chatbot_widget .header:before {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
	left: 0;
	right: 0;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0;
}

.drx_chatbot_widget .faq_window .header,
.drx_chatbot_widget .chat_window .header {
	padding: 10px 30px 5px;
	height: 55px;
}

.drx_chatbot_widget .faq_window .chatbot_close,
.drx_chatbot_widget .chat_window .chatbot_close {
	top: 10px;
}

@media(min-width:450px) {
	.drx_chatbot_widget .header {
		border-radius: 15px 15px 0 0;
	}
}

.drx_chatbot_widget .chatbot_logo {
	background-image: url(../images/chatbot_logo.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 60px;
	position: relative; 
	margin-bottom: 10px
}
.drx_chatbot_widget .header h1 {
	font-size: 36px;
	color: #fff;
	position: relative;
}

.drx_chatbot_widget .header h1 img {
	vertical-align: baseline;
}

.drx_chatbot_widget .header h2 {
	font-size: 22px;
	color: #fff;
	font-weight: 100;
	line-height: 35px;
	position: relative;
}

.drx_chatbot_widget .header h3 {
	font-size: 18px;
	color: #fff;
	font-weight: 100;
	position: relative;
}

.drx_chatbot_widget .sub-content {
	border-bottom: 0;
	padding: 20px 30px;
	color: #000;
	background: #0345c2;
	position: relative;
}

.drx_chatbot_widget .sub-content:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .7);
}

.drx_chatbot_widget .sub-content h3 {
	font-size: 16px;
	margin: 0;
	position: relative;
}

.drx_chatbot_widget .contentarea {
	padding: 30px;
	border-radius: 0 0 15px 15px;
	bottom: 0;
	position: relative;
}
.drx_chatbot_widget .contentarea .chat_bubble p {
    word-break: break-word;
}
.drx_chatbot_widget .contentarea .chat_bubble p:last-child {
    margin-bottom: 0;
}
.drx_chatbot_widget .chat_window .contentarea {
	padding: 0px 20px 20px 20px;
	height: calc(100vh - 175px);
	overflow: auto;
}

.drx_chatbot_widget .faq_window .contentarea {
	padding: 0px 20px 0px 20px;
	height: calc(100vh - 125px);
	overflow: auto;
}

.drx_chatbot_widget .contentarea .chatbot_text p {
	line-height: 30px;
}

.drx_chatbot_widget .contentarea .chatbot_text p svg {
	vertical-align: text-bottom;
	margin-bottom: 2px;
}

.drx_chatbot_widget .contentarea .times {
	color: #0345c2;
	width: 16px;
	height: 16px;
}

.drx_chatbot_widget .contentarea .chatbotMenuChips ,
.drx_chatbot_widget .contentarea .btn {
	background: #0345c2;
	border: 1px solid #0345c2;
	color: #fff;
	font-size: 14px;
	padding: 6px 15px;
	transition: all 0.16s ease-in-out 0s;
	display: inline-block;
	margin-bottom: 7px;
	margin-right: 7px;
}
.drx_chatbot_widget .contentarea .chatbotMenuChips:hover ,
.drx_chatbot_widget .contentarea .btn:hover {
	background: #fff;
	color: #0345c2;
	font-size: 14px;
	transform: scale(1.01);
	margin-top: -1px;
	margin-left: -1px;
}

.drx_chatbot_widget .contentarea .btn svg {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.drx_chatbot_widget .chat_bubble {
	border: 1px solid #0345c2;
	background: #fff;
	border-radius: 0px 10px 10px 10px;
	margin-top: 10px;
	position: relative;
	padding:5px 10px;
	float:left;
	transition: all 0.16s ease-in-out 0s;  
	margin-left: 30px;
	margin-right: 30px;
} 
.drx_chatbot_widget .chat_bubble.chat_bubble_btns {
    padding-bottom: 14px;
}
.drx_chatbot_widget .chat_bubble.user {
	border: 1px solid #039b69;
	background: #c1eedf;
	border-radius: 10px 0px 10px 10px; 
	float:right; 
	margin-right: 30px;
}

.drx_chatbot_widget .chat_bubble svg.bubble_icon,
.drx_chatbot_widget .chat_bubble img.bubble_icon {
	position: absolute;
	top: -34px;
	left: 0;
	width: 35px;
}

.drx_chatbot_widget .bubble_icon {
	background-image: url(../images/chatbot_bubble_icon.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 25px;
	position: absolute;
	left: -36px;
	top: 0;
	background-size: auto 100%;
}
.drx_chatbot_widget .chat_bubble.user .bubble_icon {
    background-image: none;
}
 
.drx_chatbot_widget .chat_bubble.user svg.bubble_icon {
    right: -37px;
    left: inherit;
    top: 0;
    position: absolute;
}
.drx_chatbot_widget .chat_bubble svg.bubble_icon {
	border-radius: 50%;
	border: none;
}

.drx_chatbot_widget .chat_bubble svg.bubble_icon .fa-secondary {
	color: #039b69;
}

.drx_chatbot_widget .chat_bubble.user .fa-primary {
	color: #fff;
}

.drx_chatbot_widget .chat_bubble:before {
	z-index: 1;
	border: 10px solid #0345c2;
	border-width: 10px 5px 3px 5px;
	left: 0px;
	top: -1px;
}

.drx_chatbot_widget .chat_bubble:after {
	z-index: 2;
	border: 10px solid #fff;
	border-width: 9px 4px 4px 4px;
	top: 0;
	left: 2px;
}

.drx_chatbot_widget .chat_bubble:before,
.drx_chatbot_widget .chat_bubble:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	margin-left: -7px;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.drx_chatbot_widget .chat_bubble.user:before {
	z-index: 1;
	border: 10px solid #039b69;
	border-width: 10px 5px 3px 5px;
	right: 0px;
	top: -1px;
}

.drx_chatbot_widget .chat_bubble.user:after {
	z-index: 2;
	border: 10px solid #c1eedf;
	border-width: 9px 4px 4px 4px;
	top: 0;
	right: 2px;
}

.drx_chatbot_widget .chat_bubble.user:before,
.drx_chatbot_widget .chat_bubble.user:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	margin-right: -7px;
	border-bottom-color: transparent;
	border-right-color: transparent;
	left: inherit;
}

.drx_chatbot_widget .send_us_message {
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0 0 15px 15px;
	margin: 1px;
}

.drx_chatbot_widget .send_us_message .message {
	border: none;
	width: 100%;
	padding: 20px 20px 20px 50px;
	outline: none;
	border-radius: 0 0 15px 15px;
	height: 55px;
	    overflow: hidden;
}

.drx_chatbot_widget .send_us_message .send_us_btn {
	background: #0345c2 url(../images/send_us_arrow_btn.png) no-repeat center center;
	bottom: 0;
	right: 10px;
	position: absolute;
	top: 3px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #0345c2;
	outline: none;
	box-shadow: 9px 9px 2px rgb(0 0 0 / 10%);
	transition: all 0.16s ease-in-out 0s;
	cursor:pointer;
}

.drx_chatbot_widget .send_us_message .send_us_btn:before {
	position: absolute;
	content: "";
	color: #fff;
	border: 10px solid transparent;
	border-color: transparent transparent transparent #fff;
	border-width: 10px 10px 10px 21px;
	left: 15px;
	top: 14px;
	transition: all 0.16s ease-in-out 0s;
}

.drx_chatbot_widget .send_us_message .send_us_btn:after {
	position: absolute;
	content: "";
	color: #fff;
	border: 10px solid transparent;
	border-color: transparent transparent transparent #0345c2;
	border-width: 4px 4px 4px 12px;
	left: 14px;
	top: 20px;
	transition: all 0.16s ease-in-out 0s;
}

.drx_chatbot_widget .send_us_message .send_us_btn:hover {
	background-color: #fff;
	transform: scale(1.01);
	margin-top: -1px;
	margin-left: -3px;
}

.drx_chatbot_widget .send_us_message .send_us_btn:hover:before {
	border-color: transparent transparent transparent #0345c2;
}

.drx_chatbot_widget .send_us_message .send_us_btn:hover:after {
	border-color: transparent transparent transparent #fff;
}

@media(max-width:500px) {
	.drx_chatbot_widget .send_us_message .send_us_btn {
		top: 5px;
		right: 5px;
	}
}

.drx_chatbot_widget .que {
	color: #039b69;
	font-size: 24px;
	padding-left: 45px;
	margin-top: 20px;
	position: relative;
	margin-bottom: 20px;
	padding-right: 10px;
}

.drx_chatbot_widget .que .fa-question-circle {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0px;
	top: 4px;
}

.drx_chatbot_widget .que+.chat_bubble {
	margin: 0;
}

 .drx_chatbot_widget #screenshotButton{ 
    font-size: 16px;
    cursor: pointer; 
	position:absolute;
}
.drx_chatbot_widget #speakerButton, .drx_chatbot_widget #microphoneButton {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block; 
    margin-left: 1px;
    text-align: center;
    padding: 1px;
    font-size: 20px;
    cursor: pointer;
    color: #0345c2;
	    position: absolute;
    left: 17px;
    top: 16px;
} 


@media(max-width:767px) and (min-width:500px){
	.drx_chatbot_widget .header h1 , 
	.drx_chatbot_widget .header h2 { 
		display: inline-block;
		margin-right: 20px;
	}
	.drx_chatbot_widget .header h2 {  
	    font-size: 18px;
	}
	.drx_chatbot_widget .contentarea {
		padding: 10px 30px; 
	}
	.drx_chatbot_widget .contentarea .chatbot_text p {
		line-height: 25px;
		margin-bottom: 10px;
	}
	.drx_chatbot_widget .chatbot_logo { margin-bottom:0 ;}
	.drx_chatbot_widget .header h2 br ,
	.drx_chatbot_widget .sub-content h3 br { display:none;}
	.drx_chatbot_widget .header {     padding: 10px 30px 0px; }
	.drx_chatbot_widget .sub-content {     padding: 10px 30px; }
	.drx_chatbot_widget .send_us_message .message { 
		padding: 10px 20px; 
	}
	.drx_chatbot_widget .send_us_message .send_us_btn { 
		width: 38px;
		height: 38px; 
	}
	.drx_chatbot_widget .send_us_message .send_us_btn:before { 
		border-width: 9px 9px 9px 19px;
		left: 11px;
		top: 9px; 
	}
	.drx_chatbot_widget .send_us_message .send_us_btn:after { 
		border-width: 3px 3px 3px 10px;
		left: 11px;
		top: 15px; 
	}

}
@media(max-width:767px){
	.drx_chatbot_widget .chatbot_logo { 
		height: 45px; 
		background-size: auto 100%;
	}
	.drx_chatbot_widget .chatbot_back {
		left: 10px; 
	}
	.drx_chatbot_widget .chatbot_back, .drx_chatbot_widget .chatbot_close { 
		top: 10px;
		right: 10px;
	}
	.drx_chatbot_widget.active ,
	.drx_chatbot_widget.active:before ,
	.drx_chatbot_widget .widget_window:before,
	.drx_chatbot_widget .widget_window.active {  
		right: 0;
		left: inherit;
		top: inherit;
		bottom: 0;
		height: 100%;
		margin: 0;
		width: 100%;
		border-radius: 0;
	} 
	.drx_chatbot_widget .contentarea .btn {  
		padding: 6px 12px; 
	}
	.drx_chatbot_widget .faq_window .contentarea { 
		height: calc(100vh - 75px); 
	}
	.drx_chatbot_widget .chat_window .contentarea { 
		height: calc(100vh - 125px); 
	}
	.drx_chatbot_widget .contentarea .btn:hover { 
		font-size: 16px; 
	}
	.drx_chatbot_widget .header {
		border-radius: 0;
	}
	.drx_chatbot_widget .send_us_message .send_us_btn { 
		right: 0;
	}
	.drx_chatbot_widget .chat_window .contentarea {
		height: calc(100vh - 107px);
	}
	.drx_chatbot_widget .faq_window .contentarea {
		height: calc(100vh - 59px);
		padding-bottom: 15px;
	}
}


/* css for botTyping */

.chat_bubble.botTyping {
    width: 100px;
    padding: 10px;
    text-align: center;
} 

.drx_chatbot_widget .botTyping .bounce {
    width: 10px;
    height: 10px;
    background-color: #2c53af;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    margin-right: 5px;
}

.drx_chatbot_widget .botTyping .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.drx_chatbot_widget .botTyping .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.clr { clear:both; }

/* css for image card */

.drx_chatbot_widget .imgcard {
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1%;
	max-width: 96%;
    margin-bottom: 10px;
}